* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11px;
}

window#waybar {
  background: transparent;
  color: #cdcdcd;
  transition: all 0.2s ease;
}

tooltip {
  background: rgba(20, 20, 21, 0.9);
  padding: 4px 8px;
}
tooltip label {
  color: #cdcdcd;
}

/* === Workspaces === */
#workspaces {
  background: transparent;
}

#workspaces button {
  background: transparent;
  color: #606079;
  min-width: 12px;
  padding: 0 0.8rem; /*More horizontal padding for text */
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  background: transparent;
  color: #cdcdcd;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #d8647e;
  background: transparent;
  font-weight: bold;
}

#workspaces button.focused {
  background: transparent;
  font-weight: bold;
  color: #cdcdcd;
}

#workspaces button.empty {
  font-size: 0;
  min-width: 0;
  padding: 0;
  margin: -50px;
  color: transparent;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  transition: none;
}

/* === Modules === */

#tags button {
  padding: 0 2px; /*More horizontal padding for text */
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  color: #606079;
}

#tags button:not(.occupied):not(.focused) {
  font-size: 0;
  min-width: 0;
  padding: 0;
  margin: -50px;
  color: transparent;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  transition: none;
}

#tags button.focused {
  background: transparent;
  font-weight: bold;
  color: #cdcdcd;
}

#tags button.urgent {
  background: transparent;
  animation: blink 1s infinite;
  color: #d8647e;
}

#tags button:hover {
  background: transparent;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#custom-cava {
  font-size: 24px;
  color: rgba(96, 96, 121, 0.5);
}

#custom-playerinfo {
  color: #cdcdcd;
}

#group-tray {
  background: transparent;
  padding: 0 10px;
}
#custom-tray-toggle {
  padding: 0 12px;
}
#group-tray .tray-child {
  margin-left: 10px;
}

#bluetooth,
#network {
  padding: 0 10px;
  background: transparent;
  color: #cdcdcd;
}

#bluetooth {
  padding-right: 10px;
  margin: 0 -5px 0 0;
}

#network {
  padding-left: 10px;
  margin: 0 0 0 -5px;
}

#power-profiles-daemon,
#battery {
  padding: 0 10px;
  background: transparent;
  color: #cdcdcd;
}

#power-profiles-daemon {
  padding-right: 10px;
  margin: 0 -5px 0 0;
}

#battery {
  padding-left: 10px;
  margin: 0 0 0 -5px;
}

#pulseaudio,
#backlight {
  padding: 0 10px;
  background: transparent;
  color: #cdcdcd;
}

#pulseaudio {
  padding-right: 10px;
  margin: 0 -5px 0 0;
}

#backlight {
  padding-left: 10px;
  margin: 0 0 0 -5px;
}

#temperature,
#cpu,
#memory {
  padding: 0 10px;
  background: transparent;
  color: #cdcdcd;
}

#temperature {
  margin: 0 -10px 0 0;
}
#temperature.warning {
  color: #f3be7c;
}
#temperature.critical {
  color: #d8647e;
  font-weight: bold;
}

#cpu {
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 -5px 0 -5px;
}
#memory {
  padding-left: 10px;
  margin: 0 0 0 -5px;
}

#mpris {
  padding: 0 10px;
  color: #cdcdcd;
}

#clock,
#disk,
#wireplumber,
#idle_inhibitor,
#custom-media,
#mpd,
#scratchpad {
  background: transparent;
  padding: 0 10px;
  color: #cdcdcd;
}

#clock {
  background: transparent;
}

#battery {
  background: transparent;
}

#battery.warning {
  color: #f3be7c;
  background: transparent;
}
#battery.critical {
  color: #d8647e;
  background: transparent;
}

#idle_inhibitor.activated {
  color: #cdcdcd;
  background: transparent;
}

#idle_inhibitor.deactivated {
  color: #606079;
}

#power-profiles-daemon.performance {
  background: transparent;
  color: #d8647e;
}

#power-profiles-daemon.balanced {
  background: transparent;
  color: #6e94b2;
}

#power-profiles-daemon.power-saver {
  color: #7fa563;
  background: transparent;
}

#pulseaudio.muted {
  color: #606079;
  background: transparent;
}

#mode {
  color: #141415;
  background: transparent;
  padding: 0 10px;
  margin: 0 4px;
  font-weight: bold;
}
