workspace "󰭹 "
workspace " "
workspace " "
window-rule {
    match app-id="vesktop"
    open-on-workspace "󰭹 "
}
window-rule {
    match app-id="hnpfjngllnobngcgfapefoaidbinmjnm"
    open-on-workspace "󰭹 "
}
window-rule {
    match app-id="ibblmnobmgdmpoeblocemifbpglakpoi"
    open-on-workspace "󰭹 "
}
window-rule {
    match app-id="cinhimbnkkaeohfgghhklpknlkffjgod"
    open-on-workspace " "
}
window-rule {
    match app-id="agimnkijcaahngcdmfeangaknmldooml"
    open-on-workspace " "
}
window-rule {
    match app-id="eikjhbkpemdappjfcmdeeeamdpkgabmk"
    open-on-workspace " "
}
window-rule {
    match app-id="pjibgclleladliembfgfagdaldikeohf"
    open-on-workspace " "
}
window-rule {
    match app-id="osu*"
    open-on-workspace " "
}
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
input {
    keyboard {
        xkb {
        }
        repeat-delay 300
        repeat-rate 35
        numlock
    }
    touchpad {
        tap
        dwt
        drag true
        natural-scroll
        accel-speed 0.3
        accel-profile "adaptive"
        scroll-method "two-finger"
    }
    mouse {
        accel-speed 0.3
        accel-profile "adaptive"
    }
    trackpoint {
        off
    }
    trackball {
        off
    }
    tablet {
        off
    }
    touch {
        off
    }
    warp-mouse-to-focus
}
output "eDP-1" {
    mode "1920x1080@60.019001"
    scale 1
    transform "normal"
    position x=0 y=0
    focus-at-startup
    backdrop-color "#141415"
    hot-corners {
        off
    }
}
layout {
    gaps 1
    center-focused-column "on-overflow"
    always-center-single-column
    default-column-display "tabbed"
    background-color "#141415"
    preset-column-widths {
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        width 1
        active-color "#6e94b2"
        inactive-color "#252530"
        urgent-color "#d8647e"
    }
    shadow {
    }
    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 1
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 0
        corner-radius 0
        active-color "#6e94b2"
        inactive-color "#252530"
        urgent-color "#d8647e"
    }
    insert-hint {
        on
        color "#f3be7c80"
    }
    struts {
        left 10
        right 10
    }
}
spawn-sh-at-startup "pkill wbg; wbg -s ~/.config/mango/wallpaper.png >/dev/null 2>&1 &"
spawn-sh-at-startup "lxpolkit &"
spawn-sh-at-startup "udiskie &"
spawn-sh-at-startup "easyeffects --gapplication-service >/dev/null 2>&1 &"
spawn-sh-at-startup "fnott >/dev/null 2>&1 &"
spawn-sh-at-startup "wl-clip-persist --clipboard regular --reconnect-tries 0 &"
spawn-sh-at-startup "wl-paste --watch cliphist store &"
spawn-sh-at-startup "~/.config/niri/scripts/idle.sh &"
spawn-sh-at-startup "fcitx5 -d"
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot_from_%Y-%m-%d_%H-%M-%S.png"
cursor {
    hide-when-typing
}
overview {
    zoom 1
}
recent-windows {
    debounce-ms 750
    open-delay-ms 150
    highlight {
        active-color "#cdcdcdaa"
        urgent-color "#d8647eaa"
        padding 0
        corner-radius 0
    }
    previews {
        max-height 1080
        max-scale 0.75
    }
    binds {
        Alt+Tab {
            next-window
        }
        Alt+Shift+Tab {
            previous-window
        }
    }
}
animations {
    off
}
switch-events {
    lid-close {
        spawn "notify-send" "The laptop lid is closed!"
    }
    lid-open {
        spawn "notify-send" "The laptop lid is open!"
    }
}
window-rule {
    match app-id="kitty"
    draw-border-with-background false
}
window-rule {
    match app-id="foot"
    draw-border-with-background false
}
window-rule {
    match app-id="fnott"
    open-floating true
    default-floating-position x=0 y=0 relative-to="top-right"
    open-focused false
}
binds {
    Mod+Shift+b {
        spawn-sh "foot -e bluetui"
    }
    Mod+Shift+w {
        spawn-sh "foot -e impala"
    }
    Mod+F5 {
        spawn-sh "wlr-randr --output eDP-1 --mode 1920x1080@60.019001Hz && notify-send 'Refresh Rate' 'Set to 60' -t 2000"
    }
    Mod+F6 {
        spawn-sh "wlr-randr --output eDP-1 --mode 1920x1080@144.003006Hz && notify-send 'Refresh Rate' 'Set to 144' -t 2000"
    }
    Mod+F1 {
        spawn-sh "notify-send 'Dim' 'Enabled' -t 1000 && dim -p -d 0  "
    }
    Mod+F2 {
        spawn-sh "pkill dim && notify-send 'Dim' 'Disabled' -t 1000"
    }
    // Mod+Shift+Slash {
    //     show-hotkey-overlay
    // }
    Mod+Return {
        spawn "kitty"
    }
    Mod+BackSlash {
        spawn "foot"
    }
    Mod+D {
        spawn-sh "fuzzel --lines 5"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "/home/nnonne/dotfiles/.config/niri/scripts/volume-notifier.sh up"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "/home/nnonne/dotfiles/.config/niri/scripts/volume-notifier.sh down"
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "/home/nnonne/dotfiles/.config/niri/scripts/volume-notifier.sh mute"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }
    XF86AudioPlay allow-when-locked=true {
        spawn-sh "playerctl play-pause"
    }
    XF86AudioStop allow-when-locked=true {
        spawn-sh "playerctl stop"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn-sh "playerctl previous"
    }
    XF86AudioNext allow-when-locked=true {
        spawn-sh "playerctl next"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn-sh "/home/nnonne/dotfiles/.config/niri/scripts/brightness-notifier.sh up"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn-sh "/home/nnonne/dotfiles/.config/niri/scripts/brightness-notifier.sh down"
    }
    Mod+Tab repeat=false {
        toggle-overview
    }
    Mod+Shift+Q repeat=false {
        close-window
    }
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-down
    }
    Mod+K {
        focus-window-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Shift+J {
        move-window-down
    }
    Mod+Shift+K {
        move-window-up
    }
    Mod+Shift+L {
        move-column-right
    }
    Mod+Alt+H {
        focus-monitor-left
    }
    Mod+Alt+J {
        focus-monitor-down
    }
    Mod+Alt+K {
        focus-monitor-up
    }
    Mod+Alt+L {
        focus-monitor-right
    }
    Mod+Shift+Alt+H {
        move-column-to-monitor-left
    }
    Mod+Shift+Alt+J {
        move-column-to-monitor-down
    }
    Mod+Shift+Alt+K {
        move-column-to-monitor-up
    }
    Mod+Shift+Alt+L {
        move-column-to-monitor-right
    }
    Mod+BracketRight {
        spawn-sh "~/.config/niri/scripts/skip-empty-workspaces.sh down"
    }
    Mod+BracketLeft {
        spawn-sh "~/.config/niri/scripts/skip-empty-workspaces.sh up"
    }
    Mod+Shift+BracketRight {
        move-column-to-workspace-down
    }
    Mod+Shift+BracketLeft {
        move-column-to-workspace-up
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Shift+1 {
        move-column-to-workspace 1
    }
    Mod+Shift+2 {
        move-column-to-workspace 2
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+6 {
        move-column-to-workspace 6
    }
    Mod+Shift+7 {
        move-column-to-workspace 7
    }
    Mod+Shift+8 {
        move-column-to-workspace 8
    }
    Mod+Shift+9 {
        move-column-to-workspace 9
    }
    Mod+Comma {
        consume-window-into-column
    }
    Mod+Period {
        expel-window-from-column
    }
    Alt+X {
        switch-preset-column-width
    }
    Alt+E {
        maximize-column
    }
    Mod+F {
        fullscreen-window
    }
    Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; }
    Mod+Shift+F {
        maximize-window-to-edges
    }
    Alt+h {
        set-column-width "-1%"
    }
    Alt+l {
        set-column-width "+1%"
    }
    Alt+V {
        toggle-window-floating
    }
    Mod+V {
        spawn-sh "cliphist list | fuzzel --dmenu --lines 5 | cliphist decode | wl-copy"
    }
    Mod+S {
        screenshot
    }
    Mod+Shift+S {
        screenshot-screen
    }
    Mod+Alt+S {
        screenshot-window
    }
    Mod+Shift+E {
        spawn "~/.config/niri/scripts/power-menu.sh"
    }
    Mod+W { toggle-column-tabbed-display; }
}

